<!-- <li class="mar-btm"> -->
  <div class="media_div">
    <%= image_tag "user-icon.png", class: "img-sm" %>
  </div>
  <div class="media-body pad-hor ">
    <div class="speech">
      <p class="media-heading append_user_name">
        <text class="speech-time append_speech_time">
          <i class="fa fa-clock-o fa-fw"></i>
        </text>
      </p>
      <p class="append_body" style="margin-bottom: 5px; margin-top: 5px;"></p>
    </div>
  </div>
<!-- </li> -->

<script>
    var $cont = $('.nano-content');
    $cont[0].scrollTop = $cont[0].scrollHeight;
</script>
